<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header>
        <h1>Welcome to the shops, just buy</h1>
    </header>

    <nav>
        <h3>Sections</h3>
        <ul>
            <li class="nav-item"><a href="/login">Login</a></li>
            <li class="nav-item"><a href="/register">Register User</a></li> 
            <li class="nav-item"><a href="/api/products">Products</a></li>
            <li class="nav-item"><a href="/api/users/current">Current User</a></li>


            <li class="nav-item">
                <a href="/addProducts">Add Products (Admin only )</a>
            </li>
        </ul>
    </nav>

</body>

</html>
