<div className="password-reset">
  <form method="post" action="/api/users/request-password">
    <label htmlFor="email">Email</label>
    <input type="email" name="email" required />
    <button type="submit">Reset Password</button>
  </form>
</div>
<hr />
<a href="/home"><h2>Back to Home</h2></a>

<link rel="stylesheet" type="text/css" href="/css/style.css" />
